setuptools
pandas
statsmodels
ray
scikit-learn
timebudget
shap
lightgbm
matplotlib
scipy
yfinance
quantstats
Ipython
catboost
optuna
pyarrow
jupyterlab
tqdm
cvxopt
polars
pandas_datareader
ipywidgets
numpy #must be less than 1.25
ta-lib
cvxpy
schedule
ib_insync

#conda install -c conda-forge quantstats
#conda install -c conda-forge ta-lib
